*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
core/.idea
core/build/.transforms
core/build/bin
core/build/classes/kotlin/metadata
core/build/intermediates
core/build
contents.xcworkspacedata
IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
gradle/.idea
.idea/codeStyles
Breakpoints_v2.xcbkptlist
